<footer style="background-color: gainsboro; padding: 2em; min-height: 5em;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                Premalytics
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a href="https://github.com/{{site.github_username}}"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>
        </div>
    </div>
</footer>